{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}