// Import Bootstrap SASS from NPM
@import "~bootstrap/scss/bootstrap";
// Import fonts.scss with some font-faces in it
@import "fonts";
// Import font-awesome 5 SCSS files
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

$main-background-color: #f5f5f5;

// Example using var, nested properties and mixins
body {
  background-color: $main-background-color;
  font: {
    family: $main-typo;
    size: 18px;
  }
}

h1 {
  font: {
    family: $title-typo;
    weight: 800;
  }
}

footer {
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #ffffff;
}

.ul-subtitle-text {
  ul {
    font: {
      family: $light-typo;
      size: 16px;
    }
    text-decoration: none;
    color: grey;
  }
}

.form-error ul {
  list-style: none;
  color: #a9090a;
  background-color: #f2dede;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ebccd1;
  border-radius: 10px;
}

// Example using font-awesome in SCSS Class
.php {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-php);
  }
}
